name: Build & Release

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: write

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux, darwin, windows]
        arch: [amd64, arm64]
    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}
      NAME: browse-term-${{ matrix.os == 'darwin' && 'macOS' || matrix.os }}-${{ matrix.arch }}${{ matrix.os == 'windows' && '.exe' || '' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.tag }}

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build Binary
        run: |
          mkdir -p dist
          go build -o dist/${{ env.NAME }}

      - name: Upload Binary
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.NAME }}
          path: dist/${{ env.NAME }}
          overwrite: true

  Release:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Download Binaries
        uses: actions/download-artifact@v6
        with:
          path: dist

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
          tag_name: ${{ inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
